@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.home-container {
  border: 4px solid red;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}